.container {
  background-color: #ffffff;
  border: #000000 1px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}
.storyContainer {
  background-color: #f6f6ef;
  font-size: 14px;
  width: calc(85% - 10px);
  margin: 0 auto;
  padding: 3px;
}
.title {
  text-decoration: none;
  color: #000000;
}
.subTitle {
  color: #696969;
  font-size: smaller;
  margin: auto;
}
.link {
  color: #696969;
}
.thingy {
  padding: 0 16px;
  margin: auto;
}
.headerContainer {
  background-color: #ff742b;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: calc(85% - 10px);
  margin: 0 auto;
  padding: 3px;
}
.logo {
  width: 48px;
  margin-right: 8px;
}
.textAfterLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchInput {
  margin-left: 3px;
  margin-top: 8px;
  width: 400%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
}
.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1faee;
  width: calc(85% - 10px);
  margin: 0 auto;
  padding: 3px;
  height: 10px;
  padding-bottom: 15px;
}
.settingsButton {
  width: 25px;
}

@media only screen and (max-width: 1200px) {
  .storyContainer {
    width: 100%;
  }
  .headerContainer {
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
}
